:root {
	--minor-color: #6E6E6E;
}

.main-content {
	margin: 3vw;
}

@keyframes gradient {
	0% {
		background-position: 30% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 30% 50%;
	}
}

@keyframes gradient-2 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.cta {
	text-align: center;
	font-family: inter-semibold;
	color: #222222;
}

.cta-minor {
	font-size: 700%;
}

.cta-major {
	font-size: 700%;
	/*color: #9f75e7;*/
	color: #222222;
}

.gradient {
	background: linear-gradient(-45deg, #9d66d0, #66aed0, #f7d19c, #ebab51);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

	background-clip: text;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	color: transparent;
}

.cta-about {
	font-family: inter;
	font-size: 150%;
	padding-left: 20vw;
	padding-right: 20vw;
	margin-top: 3vh;
}

.cta-register {
	font-family: inter;
	background-color: var(--nav-reg-color);
	color: white;
	padding: 15px 25px 15px 25px;
	border-radius: 100px;
	margin: 0;
	transition-duration: .3s;
	margin: auto;
	margin-top: 3vh;
	width: 80px;
	font-size: 120%;
	cursor: pointer;
}

.cta-register:hover {
	width: 90px;
}


@keyframes text-scroll-By {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 1;
		transform: translateY(100%);
	}
	50% {
		opacity: 1;
		transform: translateY(100%);
	}
	51% {
		opacity: 0;
		transform: translateY(50%);
	}
	52% {
		opacity: 0;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-scroll-For {
	0% {
		opacity: 1;
	}
	1% {
		opacity: 0;
		transform: translateY(50%);
	}
	2% {
		opacity: 0;
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	52% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
	}
}

#scroll {
	overflow: hidden;
	position: relative;
	left: 0;
	top:0;
	color: transparent;
}

#scroll::before {
	content: 'For';
	position: absolute;
	top: 0;
	left: 0;
	color: #222;

	background: linear-gradient(-45deg, #9d66d0, #66aed0, #f7d19c, #ebab51);
	background-size: 400% 400%;

	background-clip: text;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	color: transparent;


	animation: text-scroll-For 10s linear infinite, gradient-2 15s ease infinite;

}

#scroll::after {
	content: 'By';
	opacity: 0;
	position: absolute;
	top: -100%;
	left: 10%;
	color: #222;

	background: linear-gradient(-45deg, #9d66d0, #66aed0, #f7d19c, #ebab51);
	background-size: 400% 400%;

	background-clip: text;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	color: transparent;

	animation: text-scroll-By 10s linear infinite, gradient-2 15s ease infinite;

}

.spec {
	color: var(--minor-color);
	font-size: 100%;
	font-family: inter;
	text-align: center;
	margin-top: 4vh;
	padding-bottom: 4.5vh;
	margin-left: 8vw;
	margin-right: 8vw;
	border-bottom: 1px solid #e6e6e6;
}

.spec-wrapper {
	margin-top: 2vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left: 20vw;
	margin-right: 20vw;
}

.spec-subject {
	display : flex;
  	align-items : center;
  	justify-content: center;
}

.spec-logo {
	height: 30px;
}

.spec-description {
	padding-left: 6px;
}


#programs {
	margin-top: 5vh;
	border-radius: 30px;
	/*border: 1px solid #e6e6e6;*/
}

.programs-title {
	font-family: inter-semibold;
	text-align: center;
	font-size: 300%;
	color: #222222;
	padding: 2vw;
	margin-left: 15vw;
	margin-right: 15vw;
	/*border-bottom: 1px solid #e6e6e6;*/
}

.panels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
	padding-left: 1vw;
}

.panel {
	display: grid;
	grid-template-rows: 1fr 4fr;
	border: 1px solid #e6e6e6;
	margin: 30px;
	border-radius: 20px;
	height: 80vh;
	width: 25vw;
	box-shadow: 0px 5px 25px 8px rgba(0, 0, 0, 0.2);
	transition-duration: .3s;
}

.panel:hover {
	transform: perspective(1500px) rotateY(var(--y-angle)) rotateX(var(--x-angle));
}

.panel-info {
	padding: 15px;
	padding-top: 10px;
	/*border-top: 1px solid #e6e6e6;*/
	position: relative;
}

.panel-title {
	font-family: inter-semibold;
	font-size: 120%;
}

.panel-tags {
	padding-top: 5px;
	display: flex;
	flex-wrap: wrap;
}

.panel-tag {
	padding: 5px;
	margin: 5px;
	margin-left: 0;
	font-family: monospace;
	background-color: lime;
	border-radius: 5px;
}

.green { background-color: #60db85; }
.blue { background-color: #6580c9; }
.purple { background-color: #957cd9; }
.orange { background-color: #f0c769; }
.red { background-color: #f07769; }

.panel-register {
	position: absolute;
	bottom: 15px;
	font-family: inter;
	background-color: var(--nav-reg-color);
	color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 100px;
	margin: 0;
	transition-duration: .3s;
	margin-top: 3vh;
	text-align: center;
	width: 70px;
	font-size: 100%;
	cursor: pointer;
	stick: bottom;
}

.disable {
	background-color: #adadad;
	cursor: not-allowed;

}

.panel-description {
	margin-top: 15px;
}

.panel-description-summary {
	margin-bottom: 15px;
}

.panel-description-value {
	padding-left: 10px;
	padding-top: 5px;
}

.panel-image {
	max-width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}


.join {
	margin-top: 10vh;
	margin-bottom: 30vh;
	height: 90vh;
	border-radius: 30px;
	background-color: #0c75b6;
	background-image: radial-gradient(at 64% 69%, hsla(199, 91%, 54%, 1) 0, hsla(199, 91%, 54%, 0) 50%),
	radial-gradient(at 13% 89%, hsla(328, 88%, 58%, 1) 0, hsla(328, 88%, 58%, 0) 50%),
	radial-gradient(at 7% 66%, hsla(255, 93%, 55%, 1) 0, hsla(255, 93%, 55%, 0) 50%),
	radial-gradient(at 4% 92%, hsla(276, 93%, 62%, 1) 0, hsla(276, 93%, 62%, 0) 50%),
	radial-gradient(at 46% 51%, hsla(48, 87%, 68%, 1) 0, hsla(48, 87%, 68%, 0) 50%),
	radial-gradient(at 82% 97%, hsla(159, 91%, 55%, 1) 0, hsla(159, 91%, 55%, 0) 50%),
	radial-gradient(at 3% 54%, hsla(258, 89%, 63%, 1) 0, hsla(258, 89%, 63%, 0) 50%),
	radial-gradient(at 80% 73%, hsla(83, 85%, 53%, 1) 0, hsla(83, 85%, 53%, 0) 50%),
	radial-gradient(at 46% 31%, hsla(309, 88%, 51%, 1) 0, hsla(309, 88%, 51%, 0) 50%),
	radial-gradient(at 88% 52%, hsla(346, 87%, 60%, 1) 0, hsla(346, 87%, 60%, 0) 50%),
	radial-gradient(at 31% 84%, hsla(320, 95%, 62%, 1) 0, hsla(320, 95%, 62%, 0) 50%),
	radial-gradient(at 46% 26%, hsla(277, 90%, 69%, 1) 0, hsla(277, 90%, 69%, 0) 50%),
	radial-gradient(at 36% 56%, hsla(176, 90%, 57%, 1) 0, hsla(176, 90%, 57%, 0) 50%),
	radial-gradient(at 59% 34%, hsla(256, 89%, 57%, 1) 0, hsla(256, 89%, 57%, 0) 50%);

	display : flex;
  	align-items : center;
  	justify-content: center;
}

.join-title {
	font-family: inter-semibold;
	font-size: 500%;
	color: white;
	text-align: center;
}

.join-button-wrapper {
	margin: 3vw;
	display: flex;
  	justify-content: center;
}

.join-button {
	margin: auto;
	background-color: white;
	font-size: 100%;
	color: #222222;
	padding: 15px 23px 15px 23px;
	border-radius: 30px;
	cursor: pointer;
}

